@model IEnumerable<Order_Test.Models.Client>

<form method="post">
    <label>Input first name / last name of client</label><br />
    <input type="text" name="text" value="" /><br />
    <br /> 
    <input type="submit" value="Find" />
</form>

