@model IEnumerable<Order_Test.Models.Client>

<form method="post" asp-action="SearchResult">

    <div>
        <label>Choose client from search result:</label>
        <br />

        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <label>@item.FirstName @item.LastName</label>
                <div class="col">
                    <input type="submit" class="btn btn-success w-25" value="Создать" />
                </div>
            }
        }
        else
        {
            <label>No entries...</label>
            <br />
            <a class="nav-link text-dark border w-50" asp-area="" asp-controller="Client" asp-action="Index">Back To Search</a>
        }
    </div>
</form>
