@model IEnumerable<Order_Test.Models.Client>
<h5>Choose client from search result:</h5>
@if (Model.Count() > 0)
{
    @foreach (var client in Model)
    {
        <div class="col-2 my-2">
            <a asp-controller="Order" asp-action="Index" asp-route-Id="@client.Id" class="btn btn-light my-1">@client.FirstName @client.LastName</a>
        </div>
    }
}
else
{
    <label>No entries...</label>
    <br />
    <a class="nav-link btn btn-light my-1" asp-area="" asp-controller="Client" asp-action="Index">Back To Search</a>
}




