@model Order_Test.Models.Order

<h5>Enter order information</h5>

<form method="post" asp-action="Index">
    <div>
        <div class="col-3">
            <label asp-for="TotalPrice"></label>
            <input type="number" asp-for="TotalPrice" class="form-control" />
            <span asp-validation-for="TotalPrice" class="text-danger"></span>
        </div>
        <div class="col-3 my-2">
            <label asp-for="Type"></label>
            <select asp-for="Type" asp-items="@new SelectList(Enum.GetNames(typeof(Payment.PaymentType)))"></select>
        </div>
        <div class="col-3 my-2">
            <label asp-for="Period"></label>
            <select asp-for="Period" asp-items="@new SelectList(Enum.GetValues(typeof(Payment.PaymentPeriod)).Cast<Payment.PaymentPeriod>().Select(p=>(int)p).ToList())"></select>
        </div>
        <div class="col-3 my-2">
            <input type="submit" class="btn btn-light my-1" value="Submit" />
        </div>
    </div>
</form>


